html, body{
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box; }

body{
    background-color: #F9F9FB;
}

.header-background{
    width:100%;
    height:calc( 30vh + 65px);
    position: absolute;
    z-index: -1000;
    background-color: #212429;
}

/*---------TOP----------*/
.top{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width:1280px){
    .top{
        width: 94%;
        margin: 0 3%;
    }
}


header{
    width:100%;
    height: fit-content;
    color: #fff;
}

nav.navbar{
    padding:0;
    text-align: center;
}

    nav.navbar button{
        position: absolute;
    }

    nav.navbar h2{
        width:100%;
    }

ul.redes{
    position: absolute;
    right:0;
    width: 25%;
    text-align: right;
}

ul.redes li{
    list-style: none;
    display: inline-block;
    margin-left: 24px;
}

ul.redes li img{
    width: 24px;
}

.banner{
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
}
    .banner img{
        min-height:100vh;
        min-width:100%;
        margin-left: -192%;
    }

    .banner .banner-content{
        position: absolute;
        width: 100%; 
        padding: 30vh 10% 10% 8%;
        text-align: left;
    }

        .banner .banner-content h4{
            font-family: 'Hind', sans-serif;
            color: #fff;
            font-weight: 100;
            letter-spacing: 3.6px;
        }

        .banner .banner-content h1{
            font-family: 'Hind', sans-serif;
            font-size: 40px;
            font-weight: 600;
            color: #fff;
            letter-spacing: 5.6px;
            text-shadow: 1px 2px 0px;
            width: 40%;
        }

    @media (min-width:768px){
        .banner img{
            margin-left: -128vw;
        }
    }

    @media (min-width:1280px){
        .banner img{
            min-height: calc( 60vh - 46px);
            margin-left: 0;
        }
    }

/*---------NEWSLETTER----------*/
.container-fluid.newsletter{
    background-color: #F7F7F7;
    width: 94%;
    margin: 0 3% 40px 3%;
    padding: 24px;
}

.newsletter h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    color: #212121;
}

@media (min-width:1280px){
    .newsletter h5{
        text-align: left;
    }
}

.newsletter .form-control{
    height: unset;
}


.newsletter #inputName, .newsletter #inputPassword{
    width:100%;
    font-size: 15px;
    padding: 12px 24px;
    margin-top: 20px;
    border: none;
}

.newsletter #inputName::placeholder, .newsletter #inputPassword::placeholder{
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    font-weight: light;
    letter-spacing: 1.5px;
    color: #999999;
    text-transform: uppercase;
}

.newsletter button{
    width: 100%;
    height: unset;
    padding: 12px 24px;
    margin-bottom: 0;
    margin-top: 20px;
    background-color: #212121;
    border: none;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    font-weight: light;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
}

.newsletter button:hover{
    background-color: rgb(3, 3, 3);;
}

@media (min-width:768px){
    .container-fluid.newsletter .row{
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (min-width:1280px){
    .container-fluid.newsletter{
        margin: 0 3%;
    }

    .container-fluid.newsletter .row{
        max-width: unset;
    }

    .newsletter #inputName, .newsletter #inputPassword{
        width:35%;
        margin-top: 0;
        margin-right: 2%;
    }

    .newsletter button{
        width: 26%;
        margin-top: 0;
    }
}

/*---------MAIN----------*/

main{
    background-repeat: no-repeat;
    background-size: 100% 70vh;
    padding: 2%; /*-Se resta 1% que se suma en el padding de la grilla*/
}

.columna{
    display: flex;
    flex-wrap: wrap;
}

/*---------CARDS----------*/

.card{
    text-align: center;
    margin-bottom: 30px;
    border: none;
    width: 100%;
}

.card-body{
    position: relative;
    padding: 36px 24px 24px 24px;
}

.card-top-label{
    width:40px;
    height: 35px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -17px;
    left: calc( 50% - 20px);
}

.card button{
    font-family: 'Hind', sans-serif;
    text-align: center;
    border: none;
    background-color: transparent;
    border-left: 1px solid rgb(179, 179, 179);
    border-right: 1px solid rgb(179, 179, 179);
    padding: 2px 16px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    color: #212121;
    margin-top: 20px;
}

.card h6{
    font-family: 'Hind', sans-serif;
    color: #999999;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
}

.card h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 2;
}

.card p{
    font-family: 'Hind', sans-serif;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #464646;
    margin: 18px auto;
}

.card .card-footer{
    background-color: transparent;
    padding: 20px 30px;
    border: none;
}

.card .card-footer i{
    float: left;
}

.card .card-footer h6{
    float: left;
    margin-bottom: 0;
    line-height: 2;
}

.card .card-footer ul{
    float: right;
    list-style: none;
    margin-bottom: 0;
}

.card .card-footer ul li{
    display: inline-block;
}

.card.card-black{
    background-color: #212429;
}

.card.card-black p{
    color: #fff;
}

.card.card-black .card-top-label{
    background-color: #fff;
    box-shadow: 0px -1px 8px 0px rgba(0,0,0,0.1);

}

.card li img{
    width: 24px;
}

.circle{
    background-color: #999999;
    width:136px;
    height:136px;
    border-radius: 136px;
    margin: 28px auto;
}

/*---------FOOTER----------*/

footer{
    padding: 3%;
    background-color: #212429;
    color: #fff;
}

.copyright{
    background-color: #17191C;
    padding: 12px 0;
    color: rgb(255, 255, 255, 0.4);
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1.4px;
}

footer h6{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.6px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer p{
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    letter-spacing: 1.6px;
    font-weight: 100;
    line-height: 1.6;
}

.img-insta-container{
    padding: 0;
}

.img-insta-container img{
    width:90%;
}